body {
    height: 100%;
    }
    .fundo
    {
    background-image: url('../Imagem/back4.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    right: 0;
    text-align: center;
    top: 0;
    }
    
    body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    }
   
    .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    }
    .form-signin .checkbox {
    font-weight: 400;
    }
    .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    }
    .form-signin .form-control:focus {
    z-index: 2;
    }
    .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color:white
    }
    .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    #formLogin{
        border-radius: 0.5em;
        top: 5em;
        padding: 5%;
        border: 1px solid #CCCCCC;
    }

    #FormCadUsuario{
        border-radius: 0.5em;
        padding: 3em;
        border: 1px solid #CCCCCC;
    }

    #FormCadTarefas{
        border-radius: 0.5em;
        padding: 3em;
        border: 1px solid #CCCCCC;
    }

    .topoPagina{
        height: 3em;
        background-color: #0062cc;
        color: #FFFFFF;
        font-size: x-large;
    }